<h1>Find a swapped case(Bayesian)</h1>

<pre>Parameters for experiment:
10 Objects
5 Sources, given that each source presents 7 of the 10 values for objects.
Data are presented by the matrix: D[Object, Source]</pre>

<b>Steps:</b>
<ol>
    <li>Run the algorithm on initial data set.</li>
    <li>Make all possible single swaps.</li>
    <li>Calculate dist_metrics for all possible cases.</li>
    <li>Select the data set with maximum dist_metric.</li>
    <li>Compare the result with priori information. </li>
</ol>

<h2>1. All sources give true values</h2>

In [23]:
import pandas as pd
import sys
print 'Python version ' + sys.version
print 'Pandas version ' + pd.__version__

Python version 2.7.10 (default, Oct 23 2015, 18:05:06)
[GCC 4.2.1 Compatible Apple LLVM 7.0.0 (clang-700.0.59.5)]
Pandas version 0.17.1

In [18]:
obj_name = ['O1', 'O2', 'O3', 'O4', 'O5', 'O6', 'O7', 'O8', 'O9', 'O10']
data_set = {
    'S1': [6, 8, None, 15, None, None, 11, 7, 18, 20],
    'S2': [6, None, 9, 15, 16, 10, 11, None, None, 20],
    'S3': [None, 8, 9, 15, None, 10, 11, 7, None, 20],
    'S4': [6, None, 9, 15, None, 10, 11, 7, 18, None],
    'S5': [None, 8, 9, 15, 16, 10, 11, None, None, 20]
}
print "Initial data set:"
pd.DataFrame(data_set, index=obj_name)

Initial data set:

     S1  S2  S3  S4  S5
O1    6   6 NaN   6 NaN
O2    8 NaN   8 NaN   8
O3  NaN   9   9   9   9
O4   15  15  15  15  15
O5  NaN  16 NaN NaN  16
O6  NaN  10  10  10  10
O7   11  11  11  11  11
O8    7 NaN   7   7 NaN
O9   18 NaN NaN  18 NaN
O10  20  20  20 NaN  20

<b>Results:</b>
<pre>
Number of iterations: 3
max_dist_metr: 10.0/10.0
Output: True data set
</pre>

<h2>2. Sources give partially wrong values</h2>

<b>Assumptions for the data set:</b>
<ol>
    <li>Sources give true value with p(true val|S)=0.7</li>
    <li>Ground Truth values  are a set.</li>
    <li>All wrong values are different</li>
    <li>Among wrong values only one can be replaced according to Ground Truth.</li>
</ol>

In [24]:
data_set2 = {
    'S1': [6, 19, None, 15, None, 16, 11, 5, 18, 20],
    'S2': [6, None, 9, 15, 16, 22, 21, None, None, 20],
    'S3': [None, 8, 23, 15, None, 10, 11, 7, None, 24],
    'S4': [13, None, 9, 15, None, 10, 11, 7, 18, None],
    'S5': [None, 8, 9, 15, 16, 28, 12, None, None, 20],
    'GT': [6, 8, 9, 15, 16, 10, 11, 7, 18, 20]
}
print "Initial data set 2:"
pd.DataFrame(data_set2, index=obj_name)

Initial data set 2:

     GT  S1  S2  S3  S4  S5
O1    6   6   6 NaN  13 NaN
O2    8  19 NaN   8 NaN   8
O3    9 NaN   9  23   9   9
O4   15  15  15  15  15  15
O5   16 NaN  16 NaN NaN  16
O6   10  16  22  10  10  28
O7   11  11  21  11  11  12
O8    7   5 NaN   7   7 NaN
O9   18  18 NaN NaN  18 NaN
O10  20  20  20  24 NaN  20

<b>Expectations:</b>
<pre>
The D[O5,S1]=None and D[O6, S1]=16 elements will be swapped.
</pre>

<b>Results:</b>
<pre>
The D[O1,S4]=13 and D[O10, S4]=None elements were swapped.
Resulting dist metric = 8.817/10.0
Dist metric of the initial data_set2 = 8.268/10.0 (i.e without replacement of elements)
</pre>

<h2>3. Multiple replacements of items</h2>

<pre>
1. Run algorithm- find max_dist_metric.
2. Memorize max_dist_metric and genereted data set as data_new.
3. Rerun algorithm with initial data = data_new. 
    P. S. Thus we increase number of swapped elements.
4. Get new_max_dist_metric and new data set.
5. Repeat the step 1 until new_max_dist_metric <= max_dist_metric_prev
</pre>

<b>Results</b>
<pre>
This experiment was ran with data_set2(from case 2)
Round 1:
    The D[O1,S4]=13 and D[O10, S4]=None elements were swapped.
    Resulting dist metric = 8.817/10.0
Round 2:
    The D[O5,S1]=None and D[O6, S1]=16 elements were swapped.
    Resulting dist metric = 9.110/10.0
</pre>